
IAGENCIA_CRYPTO_KEY=


OPENAI_API_KEY=
FLASK_SECRET_KEY=

REPLICATE_API_TOKEN=
REPLICATE_antiga=
FLUX_API_URL=

# Google Gemini / VEO
GOOGLE_API_KEY=

GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI=
OAUTH_STATE_SECRET=

# ELEVENLABS
#ELEVENLABS_API_KEY="sk_82be879297006ec1fc9d5c217f1b6dfafaa9ec4df1427394"

# SUNO
#PIAPI_API_KEY="57dd61e3eea64ffebf738b3a943f6a55" 

# GOOGLE VEO CREDENTIALS
GOOGLE_API_KEY=
GOOGLE_PROJECT_ID=
GOOGLE_PROJECT_NUMBER=

VEO_OUTPUT_GCS_URI=

HTTPS=
##SSL_CRT_FILE=./localhost+2.pem
SSL_KEY_FILE=

API_PUBLIC_BASE=
VITE_API_BASE=

#TROCAR QUANDO FOR PARA IAGENCIA-BR.COM.BR  
# VITE_API_BASE=https://api.iagencia-br.com.br
# VITE_API_PUBLIC_BASE=https://api.iagencia-br.com.br



GROQ_API_KEY=

TAVILY_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=
